<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>GOODTREND</title>
</head>
<body>
  <div id="navbar">
    <nav>
      <ul>
          <li><a>Home</a></li>
          <li><a>Topics</a></li>
          <li><a>Info</a></li>
      </ul>
    </nav>
  </div>
  <div id="title-space">
    <h1 id="home-title" class="fadeInUp-animation">GOODTREND.</h1>
    <hr class="short-line animated">
    <h3 id="home-subheader" class="fadeInDown-animation">Positive Progress. Quantified.</h3>
  </div>
  <div id="text-space1">
    <p>Today's Pick:</p>
    <p>Last updated: {{ ozone.last_updated }}</p>
    <p>Current reading: {{ ozone.current_du }} DU</p>
    <div class="progress-bar" style="width: {{ ozone.progress }}%"></div>
    <p>{{ ozone.progress }}% recovered</p>
  </div>
  <div id="cards">
    <p id="text-space1">Other Progress:</p>
    
  </div>

  <div class="grain-overlay"></div>
</body>
</html>